{% load static %}
<!-- Navigation -->
<nav class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0 flex items-center">
                    <i class="fab fa-youtube text-youtube text-3xl mr-2"></i>
                    <a class="navar-brand" href="{% url 'main:home' %}">
                        <span class="text-xl font-bold text-dark">Thumb<span class="text-youtube">Trend</span></span>
                    </a>
                </div>
            </div>
            <div class="hidden md:ml-6 md:flex md:items-center md:space-x-8">
                <a href="{% url 'main:home' %}"
                   class="text-dark hover:text-youtube px-3 py-2 text-sm font-medium">Home</a>
                <a href="{% url 'upload:upload_url' %}"
                   class="text-dark hover:text-youtube px-3 py-2 text-sm font-medium">Analyze</a>
                <a href="{% url 'game:rps' %}"
                   class="text-dark hover:text-youtube px-3 py-2 text-sm font-medium">rsp Game</a>
                <a href="{% url 'game:lotto' %}"
                   class="text-dark hover:text-youtube px-3 py-2 text-sm font-medium">lotto Game</a>
                {% if not user.is_authenticated %}
                    <a href="#"
                       class="border border-danger bg-white text-dark px-4 py-2 rounded-md text-sm font-medium hover:bg-red-700">Your Coin: {{ coin }}</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:logout_user' %}"
                       class="bg-youtube text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-red-700"><i class="bi bi-person-circle mr-1"></i>{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'accounts:login_user' %}"
                       class="bg-youtube text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-red-700">Sign In</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
